{% extends "base.html" %}

{% block title %}
Register - Hidden Gems
{% endblock %}

{% block content %}

<div class="container">

    <div class="form-card">

        <h1>Create Your Account </h1>

        <p class="subtitle">
            Join Hidden Gems and start sharing amazing travel spots.
        </p>

        <form method="POST" class="form">

            <input
                class="form-input"
                type="text"
                name="username"
                placeholder="Username"
                required
            >

            <input
                class="form-input"
                type="password"
                name="password"
                placeholder="Password"
                required
            >

            <button class="btn btn-primary" type="submit">
                Register
            </button>

        </form>

        <p class="switch-page">
            Already have an account?
            <a href="{{ url_for('auth.login') }}">
                Login
            </a>
        </p>

    </div>

</div>

{% endblock %}